[run]
branch = True
source = .
omit =
  fake_uaa_provider/*
  docker_django_management.py
  manage.py
  */migrations/*
  */mommy_recipes.py
  */tests.py
  */tests/*
  hourglass/wsgi.py
[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
ignore_errors = True
