Django==1.7.6
Markdown==2.6.2
PyYAML==3.11
dj-database-url==0.3.0
django-cors-headers==1.0.0
django-debug-toolbar==1.3.2
django-nose==1.4
django-rest-swagger==0.3.2
django-secure==1.0.1
djangorestframework==3.0.2
-e git+https://github.com/theresaanna/djorm-ext-pgfulltext.git@2ffd9c98cd8d1e3e4d8a353c75f2be239bfd739f#egg=djorm_ext_pgfulltext-origin/HEAD
model-mommy==1.2.4
newrelic==2.50.0.39
nose==1.3.6
numpy==1.9.1
psycopg2==2.5.4
selenium==2.45.0
six==1.9.0
sqlparse==0.1.15
waitress==0.8.9
whitenoise==1.0.6
