.axis .label {
  fill: #666;
  font-style: italic;
}

.axis line,
.axis path {
  fill: none;
  stroke-width: 1;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 13px;
}

.avg .value,
.axis .tick.primary text {
  font-weight: bold;
}

rect {
  fill: #999;
  stroke: #fff;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.avg line {
  stroke-width: 1;
  stroke: #000;
}

