@import url(tables.css);

.loading-indicator,
.has-data {
    -webkit-transition: opacity .5s, height .5s;
       -moz-transition: opacity .5s, height .5s;
            transition: opacity .5s, height .5s;
}

.autocomplete-suggestions {
  position: absolute;
  display: none;
  z-index: 9999;
  overflow: hidden;
  background: #fff;

  max-height: 29.4rem;
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid #ccc;
}

.autocomplete-suggestion {
  position: relative;
  padding: .25em .5em;
}

.autocomplete-suggestion .count {
  position: absolute;
  right: .5em;
  text-align: right;
}

.autocomplete-suggestion.selected {
  color: #fff;
  background: #1EAEDB;
}

.loading .has-data {
  opacity: .2;
}

.loading-indicator {
  opacity: 0;
  visibility: hidden;
  height: 0;
  max-height: 200px;
  overflow-y: hidden;
}

  .loading-indicator > * {
    margin: 0;
  }

  .loading .loading-indicator {
    opacity: 1;
    visibility: visible;
    height: auto;
  }

.filter_active  {
  border: 2px solid #ffd855 !important;
}

input[type="text"]:focus,
select:focus {
  border: 2px solid #33C3F0 !important;
  box-shadow: 0 0 5px #33C3F0;
}

main h5 {
  margin: 0 !important;
}

input.price,
input#min_experience {
  width: 4em;
  margin-right: .3em;
}

input.price {
  margin-left: .3em;
}

span.dollars {
  color: #6E6E6E;
}

.schedule-info {
  float: right;
  font-size: 70%;
}

.graph-block {
  margin-left: 0;
}

.filter-title {
  padding-bottom: .3em;
}

.filter-block {
  background: #F3F3F3;
  border-radius: 4px;
  margin-bottom: 2em;
  padding: 1rem 2rem;
}

@media (min-width: 550px) {
  .filter-container {
    float: right;
    margin-bottom: 3em;
  }
}

.highlights-container {
  margin-bottom: 2em;
  margin-top: 1em;
  text-align: center;
}

.avg-price-block {
  background: #f3f3f3;
  border-radius: 4px;
  display: inline-block;
  margin: 0 auto;
  padding: .4em 2em;
  text-align: center;
}

#avg-price-highlight {
  color: #17779f;
  font-weight: 400;
}

/* experience slider */
.slider {
  margin: 5px 0 5px 0;
}
.years {
  /*margin: 0 0 15px 0;*/
}
.filter .years select {
  width: auto;
  height: auto;
  margin: 15px 0;
}


.rates-help-text {
  color: #999;
}

.filter select {
    width: 100%;
}

section.search {
  padding: .5rem 0 3rem 0;
}

.results {
  padding: 1rem 0;
}

.results h4 {
  margin-bottom: 0;
}

div.filters .filter {
  width: 50%;
  float: left;
}

label[for=schedule] {
  display: inline-block;
}

.table-container {
  width: 100%;
  overflow: scroll;
}

th.column-exclude {               width:  2%; }
th.column-labor_category {        width: 23%; }
th.column-education_level {       width: 10%; }
th.column-min_years_experience {  width: 10%; }
th.column-wage {                  width:  8%; }
th.column-idv_piid {              width: 12%; }
th.column-vendor_name {           width: 25%; }
th.column-schedule {              width: 10%; }

th.column-education_level {
  white-space: nowrap;
}

td.column-idv_piid {
  white-space: nowrap;
}

td.column-min_years_experience i {
  font-style: normal;
  font-size: .75em;
  color: #999;
}

td.column-min_years_experience .years {
  font-style: italic;
  color: #bbb;
}

.document-icon {
  fill: #17779f;
  height: 12px;
  margin-left: 3px;
  width: 12px;
}

.column-idv_piid:hover .document-icon {
  fill: #0c4c6f;
}

a.focus-input {
  text-decoration: none;
  border-bottom: 1px dotted;
}

#reset-button {
  background: #fff;
}

#export-data {
  margin: 0;
}

#description {
  color: #333;
  font-weight: normal;
  font-size: 2rem;
}

#description .total {
  font-weight: bold;
}

#description .empty .not-empty {
  display: none;
}

#results-actions {
  text-align: right;
}

#labor_category {
  margin-bottom: .5rem;
}

#query-types {
  padding: 0 1rem;
}

  #query-types label {
    display: inline-block;
    font-weight: normal;
    margin: 0 1rem 0 0;
  }

  #query-types label input {
    margin-right: .5rem;
  }

#price-histogram {
  max-height: 220px;
}

/* graph container */
.graph {
  position: relative;
  margin: 1rem 0;
}

svg.graph {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
}

.graph > .title {
  position: absolute;
}

.selenium #search[class="search"] {
  border: 10px solid orange;
}

.selenium #search.error { border-color: red; }
.selenium #search.loaded { border-color: green; }

/* tooltips */

.xtooltip {
  display: inline;
  position: relative;
}

.xtooltip:hover:before {
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
}

.xtooltip:hover::after {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  bottom: 26px;
  color: #fff;
  content: attr(aria-label);
  left: 0;
  padding: 3px 15px;
  position: absolute;
  text-align: center;
  width: auto;
  z-index: 98;
}

/* tooltips test 2 */

.tooltips {
  position: relative;
  display: inline;
}
.tooltips span {
  position: absolute;
  width:140px;
  color: #FFFFFF;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}
.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
th:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}

/* tooltips test 3 */

.drag-hint {
  position:relative;
}
.drag-hint > span{
  display:none;
}
.drag-hint:hover > span {
  display: inline;
  position:absolute;
  top: -25px;
  left: 0;
  right: 0;
  text-align: center;
}

/**
 * IE tweaks!
 *
 * In any version of IE, the <body> gets two
 * classes:
 *
 * 1. "ie"
 * 2. "ie{version}", where {version} is the
 *    major version number, e.g. 8, 9, 10, or 11.
 *
 * So, to target IE8, you would prefix your
 * selector with ".ie8", and so on.
 */
.ie #results-table thead th a {
  top: -20px;
}

/* This is the default Tooltipster theme (feel free to modify or duplicate and create multiple themes!): */
.tooltipster-default {
  border-radius: 5px;
  border: 2px solid #000;
  background: #4c4c4c;
  color: #fff;
}

/* Use this next selector to style things like font-size and line-height: */
.tooltipster-default .tooltipster-content {
  font-size: 14px;
  line-height: 16px;
  padding: 8px 10px;
  overflow: hidden;
}

/* This next selector defines the color of the border on the outside of the arrow. This will automatically match the color and size of the border set on the main tooltip styles. Set display: none; if you would like a border around the tooltip but no border around the arrow */
.tooltipster-default .tooltipster-arrow .tooltipster-arrow-border {
  /* border-color: ... !important; */
}


/* If you're using the icon option, use this next selector to style them */
.tooltipster-icon {
  cursor: help;
  margin-left: 4px;
}








/* This is the base styling required to make all Tooltipsters work */
.tooltipster-base {
  padding: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999999;
  pointer-events: none;
  width: auto;
  overflow: visible;
}
.tooltipster-base .tooltipster-content {
  overflow: hidden;
}


/* These next classes handle the styles for the little arrow attached to the tooltip. By default, the arrow will inherit the same colors and border as what is set on the main tooltip itself. */
.tooltipster-arrow {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.tooltipster-arrow span, .tooltipster-arrow-border {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-top: 8px solid;
  bottom: -7px;
}
.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {
  border-left: 9px solid transparent !important;
  border-right: 9px solid transparent !important;
  border-top: 9px solid;
  bottom: -7px;
}

.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-bottom: 8px solid;
  top: -7px;
}
.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
  border-left: 9px solid transparent !important;
  border-right: 9px solid transparent !important;
  border-bottom: 9px solid;
  top: -7px;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {
  left: 0;
  right: 0;
  margin: 0 auto;
}
.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {
  left: 6px;
}
.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
  left: 5px;
}
.tooltipster-arrow-top-right span,  .tooltipster-arrow-bottom-right span {
  right: 6px;
}
.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {
  right: 5px;
}
.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-left: 8px solid;
  top: 50%;
  margin-top: -7px;
  right: -7px;
}
.tooltipster-arrow-left .tooltipster-arrow-border {
  border-top: 9px solid transparent !important;
  border-bottom: 9px solid transparent !important;
  border-left: 9px solid;
  margin-top: -8px;
}
.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-right: 8px solid;
  top: 50%;
  margin-top: -7px;
  left: -7px;
}
.tooltipster-arrow-right .tooltipster-arrow-border {
  border-top: 9px solid transparent !important;
  border-bottom: 9px solid transparent !important;
  border-right: 9px solid;
  margin-top: -8px;
}


/* Some CSS magic for the awesome animations - feel free to make your own custom animations and reference it in your Tooltipster settings! */

.tooltipster-fade {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}
.tooltipster-fade-show {
  opacity: 1;
}

.tooltipster-grow {
  -webkit-transform: scale(0,0);
  -moz-transform: scale(0,0);
  -o-transform: scale(0,0);
  -ms-transform: scale(0,0);
  transform: scale(0,0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-backface-visibility: hidden;
}
.tooltipster-grow-show {
  -webkit-transform: scale(1,1);
  -moz-transform: scale(1,1);
  -o-transform: scale(1,1);
  -ms-transform: scale(1,1);
  transform: scale(1,1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}

.tooltipster-swing {
  opacity: 0;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -o-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  transform: rotateZ(4deg);
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
}
.tooltipster-swing-show {
  opacity: 1;
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  -webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 1);
  -webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
  -moz-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
  -ms-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
  -o-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
  transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
}

.tooltipster-fall {
  top: 0;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  -ms-transition-property: top;
  transition-property: top;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-fall-show {
}
.tooltipster-fall.tooltipster-dying {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  top: 0px !important;
  opacity: 0;
}

.tooltipster-slide {
  left: -40px;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  -ms-transition-property: left;
  transition-property: left;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-slide.tooltipster-slide-show {
}
.tooltipster-slide.tooltipster-dying {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  left: 0px !important;
  opacity: 0;
}


/* CSS transition for when contenting is changing in a tooltip that is still open. The only properties that will NOT transition are: width, height, top, and left */
.tooltipster-content-changing {
  opacity: 0.5;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

/* Range Slider styles */


/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
-webkit-touch-callout: none;
-webkit-user-select: none;
-ms-touch-action: none;
-ms-user-select: none;
-moz-user-select: none;
-moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-target {
  position: relative;
  direction: ltr;
}
.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
}
.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.noUi-handle {
  position: relative;
  z-index: 1;
}
.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
  z-index: 10;
}
.noUi-stacking + .noUi-origin {
/* Fix stacking order in IE7, which incorrectly
   creates a new context for the origins. */
  *z-index: -1;
}
.noUi-state-tap .noUi-origin {
-webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 10px;
}
.noUi-horizontal .noUi-handle {
  /*width: 34px;*/
  /*height: 28px;*/
  width: 16px;
  height: 16px;
  left: -4px;
  top: -4px;
}

/* Styling;
 */
.noUi-background {
  background: #FAFAFA;
  box-shadow: inset 0 1px 1px #f0f0f0;
}
.noUi-connect {
  /*background: #3FB8AF;*/
  background: #17779f;
  cursor: pointer;
  box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
-webkit-transition: background 450ms;
  transition: background 450ms;
}
.noUi-origin {
  border-radius: 2px;
}
.noUi-target {
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
.noUi-target.noUi-connect {
  box-shadow: inset 0 0 3px rgba(51,51,51,0.45), 0 3px 6px -5px #BBB;
}

/* Handles and cursors;
 */
.noUi-dragable {
  cursor: w-resize;
}
.noUi-vertical .noUi-dragable {
  cursor: n-resize;
}
.noUi-handle {
  border: 1px solid #999;
  border-radius: 10px;
  background: #FFF;
  cursor: pointer;
  box-shadow: inset 0 0 1px #FFF,
        inset 0 1px 7px #EBEBEB,
        0 3px 6px -3px #BBB;
}
.noUi-active {
  box-shadow: inset 0 0 1px #FFF,
        inset 0 1px 7px #DDD,
        0 3px 6px -3px #BBB;
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled] .noUi-handle {
  cursor: not-allowed;
}
