thead th {
  vertical-align: bottom;
}

* h5 {
  margin: 0 !important;
}

.container {
  margin-top: 2rem;
}

#search {
  position: relative;
}

input.price,
input#min_experience {
  width: 4em;
  margin-left: .3em;
  margin-right: .3em;
}

span.dollars {
  color: #999;
}

div.filters {
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 4px;
}

.graphs {
  padding: 1rem 0;
}

div.filters .filter {
  width: 50%;
  float: left;
}

th.column-exclude {               width:  2%; }
th.column-labor_category {        width: 23%; }
th.column-education_level {       width: 10%; }
th.column-min_years_experience {  width: 10%; }
th.column-wage {                  width:  8%; }
th.column-idv_piid {              width: 12%; }
th.column-vendor_name {           width: 25%; }
th.column-schedule {              width: 10%; }

td.column-idv_piid {
  white-space: nowrap;
}

td.column-min_years_experience i {
  font-style: normal;
  font-size: .75em;
  color: #999;
}

td.column-exclude {
  /* padding-right: 0; */
}

  td.column-exclude a {
    color: #999;
    font-size: 1.2em;
    line-height: 1rem;
    font-weight: bold;
    text-decoration: none;
  }

  td.column-exclude a:hover {
    color: #000;
  }

#export-data {
  margin: 0;
}

#description {
  color: #333;
  font-weight: normal;
}

#description .total {
  font-weight: bold;
}

#description .empty .not-empty {
  display: none;
}

#results-actions {
  text-align: right;
}
