@import url(graphs.css);
@import url(tables.css);

.loading-indicator,
.has-data {
    -webkit-transition: opacity .5s, height .5s;
       -moz-transition: opacity .5s, height .5s;
            transition: opacity .5s, height .5s;
}

.autocomplete-suggestions {
  position: absolute;
  display: none;
  z-index: 9999;
  overflow: hidden;
  background: #fff;

  max-height: 29.4rem;
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid #ccc;
}

.autocomplete-suggestion {
  position: relative;
  padding: .25em .5em;
}

.autocomplete-suggestion .count {
  position: absolute;
  right: .5em;
  text-align: right;
}

.autocomplete-suggestion.selected {
  color: #fff;
  background: #1EAEDB;
}

.loading .has-data {
  opacity: .2;
}

.loading-indicator {
  opacity: 0;
  visibility: hidden;
  height: 0;
  max-height: 200px;
  overflow-y: hidden;
}

  .loading-indicator > * {
    margin: 0;
  }

  .loading .loading-indicator {
    opacity: 1;
    visibility: visible;
    height: auto;
  }

.filter_active  {
  border: 2px solid #ffd855 !important;
}

input[type="text"]:focus,
select:focus {
  border: 2px solid #33C3F0 !important;
  box-shadow: 0 0 5px #33C3F0;
}

main h5 {
  margin: 0 !important;
}

input.price,
input#min_experience {
  width: 4em;
  margin-right: .3em;
}

input.price {
  margin-left: .3em;
}

span.dollars {
  color: #6E6E6E;
}

.schedule-info {
  float: right;
  font-size: 70%;
  color: #bbb;
}

.graph-block {
  margin-left: 0;
}

.filter-title {
  padding-bottom: .3em;
}

.filter-block {
  background: #F3F3F3;
  border-radius: 4px;
  margin-bottom: 3em;
  padding: 1rem 2rem;
}

@media (min-width: 980px) {
  .filter-block {
    float: right;
  }
}

.avg-price-container {
  text-align: center;
}

.avg-price-block {
  background: #f3f3f3;
  border-radius: 4px;
  display: inline-block;
  margin: 0 auto;
  padding: .4em 2em;
  text-align: center;
}

.avg-price-title {
}

#avg-price-highlight {
  color: #29A0C5;
  font-weight: 400;
}

.filter select {
    width: 100%;
}

section.search {
  padding: .5rem 0 1rem 0;
}

.results {
  padding: 1rem 0;
}

.results h4 {
  margin-bottom: 0;
}

div.filters .filter {
  width: 50%;
  float: left;
}

label[for=schedule] {
  display: inline-block;
}

th.column-exclude {               width:  2%; }
th.column-labor_category {        width: 23%; }
th.column-education_level {       width: 10%; }
th.column-min_years_experience {  width: 10%; }
th.column-wage {                  width:  8%; }
th.column-idv_piid {              width: 12%; }
th.column-vendor_name {           width: 25%; }
th.column-schedule {              width: 10%; }

th.column-education_level {
  white-space: nowrap;
}

td.column-idv_piid {
  white-space: nowrap;
}

td.column-min_years_experience i {
  font-style: normal;
  font-size: .75em;
  color: #999;
}

a.focus-input {
  text-decoration: none;
  border-bottom: 1px dotted;
}

svg .axis .label {
  fill: #666;
  font-style: italic;
}

#reset-button {
  background: #fff;
}

#export-data {
  margin: 0;
}

#description {
  color: #333;
  font-weight: normal;
  font-size: 2rem;
}

#description .total {
  font-weight: bold;
}

#description .empty .not-empty {
  display: none;
}

#results-actions {
  text-align: right;
}

#labor_category {
  margin-bottom: .5rem;
}

#query-types {
  padding: 0 1rem;
}

  #query-types label {
    display: inline-block;
    font-weight: normal;
    margin: 0 1rem 0 0;
  }

  #query-types label input {
    margin-right: .5rem;
  }

#price-histogram {
  max-height: 220px;
}

.selenium #search[class="search"] {
  border: 10px solid orange;
}

.selenium #search.error { border-color: red; }
.selenium #search.loaded { border-color: green; }

/**
 * IE tweaks!
 *
 * In any version of IE, the <body> gets two
 * classes:
 *
 * 1. "ie"
 * 2. "ie{version}", where {version} is the
 *    major version number, e.g. 8, 9, 10, or 11.
 *
 * So, to target IE8, you would prefix your
 * selector with ".ie8", and so on.
 */
.ie #results-table thead th a {
  top: -20px;
}
