@import url(skeleton/normalize.css);
@import url(skeleton/skeleton.css);

* {
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

thead th {
  vertical-align: bottom; }

table {
  width: 100%;
}

td, td:first-child,
th, th:first-child,
table caption {
  position: relative;
  padding: .25em .5em;
  vertical-align: top; }

table caption {
  padding-bottom: 1.5em;
  vertical-align: bottom;
}

th, th:first-child {
  vertical-align: bottom;
}

tbody tr:nth-child(odd) td {
  background: #f9f9f9; }

td.sorted {
  background: #fafafa;
}

tbody tr:nth-child(odd) td.sorted {
  background: #f0f0f0;
}

thead th {
  color: #666;
  border-bottom: 1px solid;
}

table caption {
  color: #666;
  text-align: left;
  font-weight: bold; }

th.sortable {
  text-decoration: underline;
  cursor: pointer;
  padding-right: 1.5em;
}

  th.sorted {
    color: #000;
    background: #f8f8f8;
    position: relative;
  }

  th.sortable:after {
    display: inline-block;
    line-height: 1em;
    height: 1em;
    position: absolute;
    bottom: .4em;
    right: 0;
    margin-top: -.5em;
    margin-right: .25em;
  }

  th.sortable:after {
    content: "▽";
    font-weight: normal;
    font-size: .9em;
  }

  th.sorted:after {
    content: "▼";
    font-size: 1em;
  }

  th.sorted.descending:after {
    content: "▲";
  }

th.collapsible {
  position: relative;
}

th.collapsible.collapsed {
  width: 0;
  font-size: 0;
}

th.collapsible a.toggle-collapse {
  position: absolute;
  font-size: 1rem;
  line-height: 1.2em;
  padding: 4px;
  text-transform: uppercase;
  color: #999;
  top: 0;
  left: 100%;
  width: 3em;
  height: 100%;
}

th.collapsed,
td.collapsed {
  width: 1.5em !important;
  border-left: 1px dotted #E1E1E1;
}

.autocomplete-suggestions {
  position: absolute;
  display: none;
  z-index: 9999;
  overflow: hidden;
  background: #fff;

  max-height: 29.4rem;
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid #ccc;
}

.autocomplete-suggestion {
  position: relative;
  padding: .25em .5em;
}

.autocomplete-suggestion .count {
  position: absolute;
  right: .5em;
  text-align: right;
}

.autocomplete-suggestion.selected {
  color: #fff;
  background: #1EAEDB;
}

.graph {
  position: relative;
}

.graph > .title {
  position: absolute;
}

.range-graph {
  margin: 5rem 0 2rem 0;
  height: 1rem;
  border-color: #999;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  line-height: 1.2em;
  position: relative; }

  .range-graph .tick {
    position: absolute;
    width: auto;
    white-space: nowrap;
    top: 100%;
    width: 1.6em;
    -webkit-transition: left 0.5s ease-in;
    -moz-transition: left 0.5s ease-in;
    transition: left 0.5s ease-in; }

    .range-graph .tick b.value {
      margin: .1em 0; }

    .range-graph .tick.mark:before {
      content: " ";
      display: block;
      position: absolute;
      left: 50%;
      top: 0;
      width: 1px;
      height: 1rem;
      background: #000; }

    .range-graph .tick.left {
      width: 10em;
      text-align: left;
      padding-left: 0;
      padding-right: .5em; }

      .range-graph .tick.left.mark:before {
        left: auto;
        right: -3px; }

    .range-graph .tick.right {
      width: 10em;
      text-align: right;
      padding-right: 0;
      padding-left: .5em; }

      .range-graph .tick.right.mark:before {
        right: auto;
        left: -3px; }

    .range-graph
    .tick.min,
    .range-graph .tick.max {
      color: #666; }

    .range-graph .tick.min {
      left: 0; }
    .range-graph .tick.max {
      right: 0; }

    .range-graph .tick.average {
      top: auto;
      bottom: 100%;
      padding-bottom: .7em;
      width: 10em;
      margin-left: -5em;
      text-align: center;
    }

    .range-graph .tick.mark.average:before {
      top: auto;
      bottom: 0;
    }

.bar-chart {
  position: relative; }
  .bar-chart .row {
    position: relative;
    line-height: 1.2em;
    height: 1.2em;
    margin-bottom: .5em;
    margin-left: 2em; }
    .bar-chart .row .row-label {
      position: absolute;
      right: 100%;
      width: 2em; }
  .bar-chart .bar {
    position: relative;
    height: 100%;
    background: #dcf;
    -webkit-transition: margin-left 0.5s linear;
    -moz-transition: margin-left 0.5s linear;
    transition: margin-left 0.5s linear;
    -webkit-transition: margin-right 0.5s linear;
    -moz-transition: margin-right 0.5s linear;
    transition: margin-right 0.5s linear; }
    .bar-chart .bar .average {
      position: absolute;
      left: 0%;
      height: 1.6em;
      top: -.2em;
      border-left: 1px solid #000;
      padding: .2em;
      -webkit-transition: left 0.5s linear;
      -moz-transition: left 0.5s linear;
      transition: left 0.5s linear; }
      .bar-chart .bar .average .count {
        color: #666;
        font-size: .5em;
        margin-left: .5em; }


.loading-indicator,
.has-data {
    -webkit-transition: opacity 0.5s linear;
       -moz-transition: opacity 0.5s linear;
            transition: opacity 0.5s linear;
}

.loading .has-data {
  opacity: .2;
}

.loading-indicator {
  opacity: 0;
  visibility: hidden;
}

  .loading-indicator > * {
    margin: 0;
  }

  .loading .loading-indicator {
    opacity: 1;
    visibility: visible;
  }

svg {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
}

svg * {
  vector-effect: non-scaling-stroke;
}

.axis line,
.axis path {
  fill: none;
  stroke-width: 1;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 13px;
}

.avg .value,
.axis .tick.primary text {
  font-weight: bold;
}

svg.histogram rect {
  fill: #999;
  stroke: #fff;
  stroke-width: 1;
}

svg.histogram .avg line {
  stroke-width: 1;
  stroke: #000;
}

.filter_active  {
  border: 2px solid #ffd855 !important;
}
