/*same as rgba(51,195,240,1);*/
@import url(skeleton/normalize.css);
@import url(skeleton/skeleton.css);
body {
  font-family: Lato, Helvetica, Arial, sans-serif; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

a {
  color: #17779f; }

a:hover {
  color: #0c4c6f; }

.button.button-primary,
button.button-primary,
input.button-primary[type="submit"],
input.button-primary[type="reset"],
input.button-primary[type="button"] {
  background-color: #17779f;
  border-color: #17779f; }

.button.button-primary:hover,
button.button-primary:hover,
input.button-primary[type="submit"]:hover,
input.button-primary[type="reset"]:hover,
input.button-primary[type="button"]:hover,
.button.button-primary:focus,
button.button-primary:focus,
input.button-primary[type="submit"]:focus,
input.button-primary[type="reset"]:focus,
input.button-primary[type="button"]:focus {
  background-color: #0c4c6f;
  border-color: #0c4c6f; }

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px; }

@media (min-width: 980px) {
  .container {
    padding-left: 0;
    padding-right: 0; } }
.skip-nav {
  position: absolute;
  left: -9999px;
  height: 0; }

.skip-nav:focus {
  outline: 0; }

.skip-nav:focus {
  position: relative;
  left: auto;
  height: auto;
  display: block; }

.hidden {
  display: none; }

.sr-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/*
.button,
.button-primary {
  font-size: 1.5rem !important;
  font-weight: normal;
  line-height: 2rem !important;
}
*/
#banner {
  color: #e1e1e1;
  font-size: 85%;
  background: #323A45;
  padding: .2rem 0;
  text-align: center; }

#banner p {
  margin: 0; }

#usa img {
  vertical-align: baseline;
  position: relative;
  top: 1px;
  margin-right: .3rem; }

@media (min-width: 600px) {
  #banner {
    text-align: left; }

  #banner #usa {
    float: left; }

  #banner #site-status {
    float: right; } }
header {
  padding-top: 2rem;
  color: #ffffff;
  background: #044364;
  background-image: url(../images/background-header.png);
  background-repeat: repeat;
  background-size: auto 100%; }

.logo {
  display: inline-block;
  width: 140px; }

.description-main {
  color: #ffffff;
  font-size: 2.2em;
  font-weight: 400;
  margin-bottom: .3em;
  margin-top: .6em; }

.description-secondary {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.25em;
  letter-spacing: normal;
  margin-bottom: 2em; }

.price-callout img {
  float: left;
  margin-right: 10px;
  max-width: 28px;
  opacity: 0.6;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.price-callout .ceiling-icon {
  max-width: 40px; }

.price-callout .fully-burdened-icon {
  max-width: 33px; }

.price-callout p {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

h1 {
  letter-spacing: 0; }

h1 .site-title {
  display: block;
  line-height: 1em; }

h1 .site-subtitle {
  font-size: 2rem;
  display: block; }

nav ul {
  list-style: none;
  margin: -5.5rem 0 1rem 0;
  padding: 0;
  float: right;
  display: inline-block; }

nav ul li {
  list-style: none;
  float: left;
  margin: 0; }

nav ul:after {
  content: " ";
  display: table;
  clear: both; }

nav ul li a {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  text-decoration: none; }

nav ul li a:hover {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.25);
  color: #ffffff; }

nav ul li:first-child {
  margin-left: -1.5rem; }

main {
  margin: 2rem 0; }

main h4 {
  margin-bottom: .5rem; }

.schedule {
  display: block;
  font-weight: bold;
  margin-bottom: 0; }

footer {
  color: #ffffff;
  background: #333333;
  padding: 2rem 0;
  line-height: 1.4;
  font-weight: 300;
  background-image: url(../images/footer_bg.png);
  background-repeat: repeat;
  background-size: auto 100%; }

footer a,
footer a:hover {
  color: #ffffff; }

footer h3 {
  color: #ffd855;
  font-size: 3rem;
  letter-spacing: 0;
  font-weight: 600;
  margin-bottom: .1em; }

#footer_nav {
  padding-top: 15px;
  color: #ffffff;
  list-style-type: none;
  float: left; }

#footer_nav a, #site-status a {
  color: #ffffff;
  list-style-type: none; }

#footer_nav ul {
  color: #ffffff;
  list-style-type: none;
  font-weight: 300;
  padding-left: 0; }

.email_us {
  margin-top: 15px;
  color: #e1e1e1;
  font-size: 1.5em; }

  /*
  footer .columns {
    padding-left: 2rem;
  }

  footer .columns:first-child {
    padding-left: 0;
  }
  */
/*
 * this doesn't work because the column heights vary
footer .columns + .columns {
  border-left: 1px solid $dark-gray;
}
*/
#logos {
  text-align: right; }

#logos a {
  display: inline-block;
  margin-left: 1rem; }

#logos a img {
  width: 85px;
  height: 85px; }

::-webkit-input-placeholder {
  color: #6E6E6E; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #6E6E6E; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #6E6E6E; }

:-ms-input-placeholder {
  color: #6E6E6E; }

fieldset {
  margin: 0; }

/*# sourceMappingURL=main.css.map */
