/*
 * general table styles
 */
table {
  width: 100%;
  margin-top: 2rem;
}

thead th {
  position: relative;
  vertical-align: bottom;
}

td, td:first-child, td:last-child,
th, th:first-child, th:last-child,
table caption {
  position: relative;
  padding: .25em .5em;
  vertical-align: top;
}

table caption {
  padding-bottom: 1.5em;
  vertical-align: bottom;
}

thead th,
thead th:first-child {
  vertical-align: bottom;
  color: #757575;
  border-bottom: 1px solid;
}

tbody tr:nth-child(odd) > * {
  background: #f9f9f9;
}

tbody th {
  font-weight: normal;
}

td.sorted {
  background: #fafafa;
}

tbody tr:nth-child(odd) td.sorted {
  background: #f0f0f0;
}

tbody tr:hover > * {
  background: #fefef0 !important;
}

table caption {
  color: inherit;
  text-align: left;
  font-weight: normal;
}

th.sortable {
  text-decoration: underline;
  cursor: pointer;
  padding-right: 1.5em;
}

  th.sorted {
    color: #000;
    background: #f8f8f8;
    position: relative;
  }

  th.sortable:after {
    display: inline-block;
    line-height: 1em;
    height: 1em;
    position: absolute;
    bottom: .4em;
    right: 0;
    margin-top: -.5em;
    margin-right: .25em;
  }

  th.sortable:after {
    content: "▽";
    font-weight: normal;
    font-size: .9em;
  }

  th.sorted:after {
    content: "▲";
    font-size: 1em;
  }

  th.sorted.descending:after {
    content: "▼";
  }

th.collapsible {
  position: relative;
}

th.collapsible.collapsed {
  width: 0;
  font-size: 0;
}

th.collapsible a.toggle-collapse,
th.exclude a.restore {
  position: absolute;
  font-size: 1rem;
  padding: 2px 0;
  /* border: 1px solid red; */
  text-transform: uppercase;
  text-decoration: underline;
  color: #666;
  white-space: nowrap;
  vertical-align: bottom;
  bottom: 100%;
  left: 0;
}

th.collapsible:last-child a.toggle-collapse {
  left: auto;
  right: 0;
  text-align: right;
}

th.collapsed,
td.collapsed {
  width: 1.5em !important;
  border-left: 1px dotted #E1E1E1;
}

  td.column-exclude {
    /* padding-right: 0; */
  }

td.column-exclude a {
  color: #595959;
  font-size: 1.2em;
  line-height: 1rem;
  font-weight: bold;
  text-decoration: none;
}

  td.column-exclude a:hover {
    color: #000;
  }
