.autocomplete-suggestions {
  position: absolute;
  display: none;
  z-index: 9999;
  overflow: hidden;
  background: #fff;

  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid #ccc;

  .autocomplete-suggestion {
    position: relative;
    padding: .25em .5em;

    .count {
      position: absolute;
      right: .5em;
      text-align: right;
    }

    &.selected {
      background: #f9f9f9;
    }
  }
}


