form.search {
  @include outer-container;

  .full-width {
    @include span-columns(12);
    @include omega();
  }

  div.primary {
    input {
      @include display(inline-block);
      width: 20em;
    }

    button {
    }
  }

  div.filters {
    @include span-columns(7);

    .filter {
      @include span-columns(6);
      @include omega(2n);
      padding: .5em 1em;
      background: #eee;
      margin-bottom: 1em;
      min-height: 6em !important;
    }
  }

  div.graph {
    @include span-columns(5);
    @include omega();
    padding: 1em;
    margin-bottom: 1em;
  }
}
