$left-margin: 12em;
$rule-color: #999;
$range-color: #666;
$mark-size: 5px;
$mark-color: #000;
$light-gray: #666;
$graph-element-bg: #dcf;

.graph {
  > .title {
    margin-bottom: .5em;
  }
}

.range-graph {
  height: 10em;
  width: 11px; // TODO: parameterize
  margin-left: 50%;
  border-color: $rule-color;
  border-style: solid;
  border-width: 1px 0;
  position: relative;

  &:before {
    content: " ";
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    left: 50%;
    background: $rule-color;
  }

  .tick {
    position: absolute;
    width: auto;
    white-space: nowrap;
    left: 50%;
    height: 1.6em; // TODO: parameterize
    margin-top: -.8em; // TODO: parameterize
    padding-left: .5em;

    @include transition(top .5s ease-in);

    // add some space around the value
    b.value {
      margin: 0 .1em;
    }

    &.mark:before {
      content: " ";
      display: block;
      position: absolute;
      top: 50%;
      left: -2px; // TODO: parameterize
      margin-top: -2px; // TODO: parameterize
      width: $mark-size;
      height: $mark-size;
      background: $mark-color;
    }

    &.left {
      width: $left-margin;
      left: auto;
      right: 50%;
      text-align: right;
      padding-left: 0;
      padding-right: .5em;

      &.mark:before {
        left: auto;
        right: -3px; // TODO: parameterize
      }
    }

    &.min,
    &.max {
      color: $range-color;
    }

    &.min { top: 100%; }
    &.max { top: 0%; }
  }
}

.bar-chart {
  position: relative;

  .row {
    position: relative;
    line-height: 1.2em;
    height: 1.2em;
    margin-bottom: .5em;
    margin-left: 2em;

    .row-label {
      position: absolute;
      right: 100%;
      width: 2em;
    }
  }

  .bar {
    position: relative;
    height: 100%;
    background: $graph-element-bg;

    @include transition(margin-left .5s linear);
    @include transition(margin-right .5s linear);

    .average {
      position: absolute;
      left: 0%;
      height: 1.6em;
      top: -.2em;
      border-left: 1px solid #000;
      padding: .2em;

      @include transition(left .5s linear);

      .count {
        color: $light-gray;
        font-size: .5em;
        margin-left: .5em;
      }
    }
  }
}
