td, th, caption {
  position: relative;
  padding: .25em .5em;
  vertical-align: top;
}

thead th {
  vertical-align: bottom;
}

tbody tr:nth-child(odd) td {
  background: #f9f9f9;
}

table caption {
  color: #666;
  text-align: left;
  font-weight: bold;
}
