$black:         #000000;
$off-black:     #333333;
$white:         #ffffff;
$off-white:     #f9f9f9;
$light-gray:    #e1e1e1;
$dark-gray:     #6E6E6E;
$blue:          #17779f;
$light-blue:    #33C3F0; /*same as rgba(51,195,240,1);*/
$dark-blue:     #0c4c6f;
$yellow:        #ffd855 /* used for border around active filter and footer h3 */
/* #0443645: used for header background fallback */
/* #323A45: used for "official US site" banner */
