$black:         #212121;
$off-black:     #323a45;
$white:         #ffffff;
$off-white:     #f1f1f1;
$light-gray:    #d6d7d9;
$dark-gray:     #5b616b;
$blue:          #0071bc;
$light-blue:    #02bfe7; /*was #33C3F0, which is the same as rgba(51,195,240,1);*/
$dark-blue:     #205493;
$yellow:        #f9c642 /* used for border around active filter and footer h3 */
/* #0443645: used for header background fallback */
/* #323A45: used for "official US site" banner */
