{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'hourglass_site/style/about.css' %}">
{% endblock %}

{% block body %}
<div class="container">
  
<h4>Why was CALC built?</h4>
<p>The CALC (Contract Awarded Labor Category) tool was built to assist contracting officers and contracting specialists with market research and price analysis for labor categories on Federal Government contracts.  By creating a database with an easy to use interface, we can enable a search to be completed in a couple of seconds and return up to hundreds of comparables, versus spending hours searching paper files or GSA Advantage to come up with only a handful of comparables.  </p>

<p>Additionally, the tool creates the opportunity to conduct calculations that will allow the contracting officer to gain understanding about the total population of data, such as ranges (highest and lowest prices), average prices. This data is helpful for negotiations for prices on contracts.</p>

<h4>What does CALC do?</h4>
<p>CALC searches awarded prices on the eight professional services schedules and return comparable labor categories and prices based on search criteria and filters used. The eight professional services schedules are MOBIS, Environmental, LOGWORLD, Professional Engineering Schedule, Language, Advertising and Integrated Marketing Schedules (AIMS), Finance and Business Solutions (FABS), and the Consolidated Schedule. The AIMS and FABS Schedules are newly added so there is limited data currently.</p>


<h4>What price information is NOT included in CALC?</h4>
<p>The tool does not return future or historical prices and does not currently include prices paid. </p>

<h4>What are "Prices Awarded"?</h4>
<p>Awarded prices are prices that are awarded at the master contract level (such as a schedule contract). Prices paid are prices that are paid at the task order level.
 </p>

<h4>Where does the data come from?</h4>
<p>The labor category prices are the awarded labor categories and prices on the companies GSA Schedule. It is the same data that is uploaded into GSA Advantage; however it is loaded on the day of award versus up to six months later (FSS-600) after award.
 </p>
 <p>
 The contracting officer uploads the data to the pricing tool after the price list is reviewed, approved and the contract award is made.
</p>
<h4>Where does the data reside?</h4>
<p>The source data is housed in a database on GSA Region 10 servers, and within Amazon Web Services account for GSA 18F.</p>



</div>
{% endblock %}

