{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'hourglass_site/style/about.css' %}">
{% endblock %}

{% block body %}
<div class="container">
  
<h4>Why CALC was built</h4>
<p>The C.A.L.C. tool was built to assist contracting officers and contracting specialists with market research and price analysis for labor categories on Federal Government contracts. Contracting officers were spending so much time either looking through paper contracts (ten years ago) or searching GSA Advantage files that we thought it would be more efficient to have a database of labor categories and prices. This allows a search to be completed in a couple of seconds and return up to hundreds of comparables versus spending hours to come up with a handful of comparables. </p>

<p>Additionally, the tool created the opportunity to conduct calculations that allows the contracting officer to gain understanding about the total population of data such as ranges (highest and lowest prices), average prices, etc. This data is helpful for negotiations for prices on contracts.</p>

<h4>What does CALC do?</h4>
<p>The tool searches awarded prices on the eight professional services schedules and return comparable labor categories and prices based on search criteria and filters used. The eight professional services schedules are MOBIS, Environmental, LOGWORLD, Professional Engineering Schedule, Language, Advertising and Integrated Marketing Schedules (AIMS), Finance and Business Solutions (FABS), and the Consolidated Schedule. The AIMS and FABS Schedules are newly added so there is limited data currently.</p>

<h4>Things that are missing or excluding that they should know about?</h4>
<p>The tool does not return future or historical prices and does not currently include prices paid. </p>

<h4>Where does the data come from?</h4>
<p>The labor category prices are the awarded labor categories and prices on the companies GSA Schedule. It is the same data that is uploaded into GSA Advantage; however it is loaded on the day of award versus up to six months later (FSS-600) after award.
 </p>

<h4>Prices Awarded vs Prices Paid</h4>
<p>Awarded prices are prices that are awarded at the master contract level (such as a schedule contract). Prices paid are prices that are paid at the task order level.
 </p>


</div>
{% endblock %}

