{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CALC / {% block title %}Home{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=960">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <!--[if lte IE 9]>
    <script src="{% static 'hourglass_site/js/vendor/aight.v2.min.js' %}"></script>
    <script src="{% static 'hourglass_site/js/vendor/history.min.js' %}"></script>
    <![endif]-->
    <link rel="stylesheet" href="{% static 'hourglass_site/style/main.css' %}"/>

    <![if gt IE 8]>
    <script>
      var API_HOST = "{{ API_HOST }}";
    </script>
    <script src="{% static 'hourglass_site/js/vendor/d3.v3.min.js' %}"></script>
    <script src="{% static 'hourglass_site/js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'hourglass_site/js/vendor/jquery.xdomainrequest.min.js' %}"></script>
    <script src="{% static 'hourglass_site/js/vendor/formdb.min.js' %}"></script>
    <script src="{% static 'hourglass_site/js/hourglass.js' %}"></script>
    <script src="{% static 'hourglass_site/js/vendor/jquery.tooltipster.js' %}"></script>
    <script src="{% static 'hourglass_site/js/vendor/jquery.nouislider.all.min.js' %}"></script>
    <![endif]>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div id="banner">
      <div class="container">
        <a class="skip-nav" tabindex="-1" href="#main">Skip navigation</a>
        <p id="usa">
          <img src="{% static 'hourglass_site/images/flag-usa.png' %}" alt="USA flag">
          An official website of the U.S. Government</p>
        <p id="site-status">This website is in beta.
          <a href="#help-wanted">Help us improve</a>
        </p>
      </div>
    </div>

    <header>
      <div class="container">
        <a href="{% url 'index' %}"><img class="logo" src="{% static 'hourglass_site/images/calc_logo.png' %}" alt="CALC: Contract Awarded Labor Category Tool"></a>
        <nav>
          <ul>
            <li><a href="{% url 'about' %}">About this tool</a></li>
          </ul>
        </nav>

      <div class="row">
        <div class="twelve columns">
          <h1 class="description-main">Search awarded ceiling rates for labor categories</h1>
          <h2 class="description-secondary">CALC lets you conduct market research on professional service labor categories more quickly and easily - helping you make informed decisions. Results shown are awarded hourly rates from GSA IDIQ service schedules.</h2>

          <div class="row price-callout">
            <div class="three columns">
              <img class="ceiling-icon" src="/static/hourglass_site/images/price-callout/roof.png">
              <p>Ceiling prices</p>
            </div>
            <div class="three columns">
              <img class="fully-burdened-icon" src="/static/hourglass_site/images/price-callout/mule.png">
              <p>Fully burdened</p>
            </div>
            <div class="three columns">
              <img src="/static/hourglass_site/images/price-callout/breifcase.png">             
              <p>Professional services</p>
            </div>
            <div class="three columns">
              <img src="/static/hourglass_site/images/price-callout/globe.png">              
              <p>Worldwide rates</p>
            </div>                                    
          </div>
        </div>
      </div>


      </div>
    </header>

    <main id="main">

    {% if messages %}
      <div class="container">
      {% for message in messages %}
        <p{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
      </div>
    {% endif %}

    {% block body %}
    {% endblock %}
    </main>

    <footer>
      <div class="container">
        <div class="row">

          <div id="code" class="three columns">
            <div id="footer_nav">
              <ul>
                <li><a href="https://github.com/18F/calc"><img alt="GitHub Logo" src="https://mirage-gsa-gov.s3.amazonaws.com:443/mirage_site/images/github_icon.png"> View our code on GitHub</a></li>
                <!-- <li><a href="/docs/">Read the API documentation</a></li> -->
              </ul>

              <p>Icons by Paulo Sá Ferreira, Luis Prado, John Testa, Andrew Forrester from <a href="https://thenounproject.com/">The Noun Project</a>.</p>
            </div><!-- /.footer_nav -->
          </div>

          <div id="help-wanted" class="six columns">
            <h3>Get in touch</h3>
            <p>We're always looking for feedback on CALC.<br />
              Drop us a line to share your thoughts!
           </p>
              <span class="email_us">Email us at <a href="mailto:calc@gsa.gov">calc@gsa.gov</a></span>
          </div>

          <div id="logos" class="three columns">
            <a href="http://gsa.gov"><img alt="General Services Administration logo"
              src="{% static 'hourglass_site/images/logo-gsa.png' %}"></a>
            <a href="https://18f.gsa.gov"><img alt="18F logo"
              src="{% static 'hourglass_site/images/logo-18f.svg' %}"></a>
          </div>

        </div>
      </div>
    </footer>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        // anonymize user IPs (chops off the last IP triplet)
        ga('set', 'anonymizeIp', true);
        
        // forces SSL even if the page were somehow loaded over http://
        ga('set', 'forceSSL', true);
  
        ga('create', 'UA-48605964-21', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->    
    <script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA"></script>

    <![if gt IE 8]>
    <script>
      if (typeof aight === 'object') {
        d3.select('body')
          .classed('ie', true)
          .classed('ie' + aight.browser.ie, true);
      }
    </script>
    <![endif]>
     <!-- Ethnio Activation Code -->
    <script type="text/javascript" language="javascript" src="https://ethn.io/88263.js" async="true" charset="utf-8"></script>
  </body>
</html>
