{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hourglass / {% block title %}Home{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <!--[if lte IE 9]>
    <script src="{% static 'hourglass_site/js/vendor/aight.v2.min.js' %}"></script>
    <script src="{% static 'hourglass_site/js/vendor/history.min.js' %}"></script>
    <![endif]-->
    <link rel="stylesheet" href="{% static 'hourglass_site/style/main.css' %}"/>
    <script src="{% static 'hourglass_site/js/vendor/d3.v3.min.js' %}"></script>
    <script src="{% static 'hourglass_site/js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'hourglass_site/js/vendor/formdb.min.js' %}"></script>
    <script src="{% static 'hourglass_site/js/hourglass.js' %}"></script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
