{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="six-columns">
<h2>XLS Import Demo</h2>

<h3>Upload a Proposed Price List Excel Spreadsheet</h3>

{{ form.non_field_errors }}

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="hidden" name="step" value="1">

  {{ form.xls.errors }}
  {{ form.xls.label_tag }}
  {{ form.xls }}

  <button type="submit">Submit</button>
</form>

{% endblock %}
