{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="six-columns">
<h2>XLS Import Demo</h2>

<h3>Upload a Proposed Price List Excel Spreadsheet</h3>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="xls">
  <button type="submit">Submit</button>
</form>

{% if cats %}

<table>
  <thead>
    <tr>
    {% for col in colnames %}
      <th>{{ col }}</th>
    {% endfor %}
    </tr>
  </thead>

  <tbody>
    {% for cat in cats %}
      <tr>
        {% for colname, val in cat.items %}
          <td>{{ val }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

{% endblock %}
