{% extends "base.html" %}
{% load staticfiles %}

{% block head %}

<link rel="stylesheet" href="{% static 'hourglass_site/style/index.css' %}">
{% endblock %}

{% block body %}

<!--[if lt IE 9]>
<section class="alert-ie8">
  <div class="container">
    <h2>This website does not support Internet Explorer version 8 or lower.</h2>
    <p>We recomend upgrading to the latest <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Internet Explorer</a>, <a href="https://www.google.com/chrome/browser/">Google Chrome</a>, or <a href="https://www.mozilla.org/firefox/">Firefox</a>.</p>
    <p>If you are using Internet Explorer 9 or later, make sure you turn off "Compatibility View"</p>    
  </div>
</section>
<style>
form {
  display: none;
}
</style>
<![endif]-->

<form id="search" class="search" role="form">
  <input type="hidden" name="sort" value="current_price">
  <input type="hidden" name="exclude" value="">

  <section class="search">
    <div class="container">

<!--
      <div class="row">
        <div class="twelve columns">
          <h1 class="description-main">Search awarded hourly rates for labor categories</h1>
          <h2 class="description-secondary">This tool was built to assist contracting officers and contracting specialists with market research and price analysis for labor categories on Federal Government contracts.</h2>
        </div>
      </div>
-->
      
      <div class="row">
        <div class="six columns">
          <input id="labor_category" name="q" placeholder="Type a labor category" class="search u-full-width" type="text">
          <label for="labor_category" style="display:none;">Type a labor category</label>
          <div id="query-types">
            <label><input type="radio" name="query_type" value="match_all" checked> Contains words</label>
            <label><input type="radio" name="query_type" value="match_phrase"> Contains phrase</label>
            <label><input type="radio" name="query_type" value="match_exact"> Exact match</label>
          </div>
        </div>
        <div class="six columns">
          <button id="submit-button" class="submit button-primary">Search</button>
          <input id="reset-button" class="reset button" type="reset" value="Clear search">
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.search -->

  <section class="filters">
    <div class="container">
      <h4>Optional Filters</h4>

      <div class="row">
        <div class="filter three columns">
          <label for="min_education">Min. education level:</label>
          <select id="min_education" name="min_education">
            <option value="">(none)</option>
            <option value="HS">High School</option>
            <option value="AA">Associates</option>
            <option value="BA">Bachelors Degree</option>
            <option value="MA">Masters Degree</option>
            <option value="PHD">Ph.D</option>
          </select>
        </div>

        <div class="filter three columns">
          <label for="experience_range">Experience:</label>
          <select id="experience_range" name="experience_range">
            <option value="">(all)</option>
            <option value="0,5">0-5 years</option>
            <option value="5,10">5-10 years</option>
            <option value="10,15">10-15 years</option>
            <option value="15,20">15-20 years</option>
            <option value="20,25">20-25 years</option>
            <option value="25">25+ years</option>
          </select>
        </div>

        <div class="filter three columns">
          <label for="site">Worksite:</label>
          <select id="site" name="site">
            <option value="">(all)</option>
            <option>customer</option>
            <option>contractor</option>
            <option>both</option>
          </select>
        </div>

        <div class="filter three columns">
          <label for="business_size">Business size:</label>
          <select id="business_size" name="business_size">
            <option value="">(all)</option>
            <option value="s" data-label="small">small business</option>
            <option value="o">other than small</option>
          </select>
        </div>
      </div> <!-- /row -->

      <div class="row">
        <div class="filter six columns">
          <label for="price">Only search &amp; show prices:</label>
          from <span class="dollars">$</span><input id="price__gte" name="price__gte" type="text" class="price" placeholder="0">
          to <span class="dollars">$</span><input id="price__lte" name="price__lte" type="text" class="price" placeholder="&infin;">
        </div>

        <div class="filter three columns">
          <label for="schedule">Schedule:</label>
          <a href="/about#schedules" class="info">What's this?</a>
          <select id="schedule" name="schedule">
            <option value="">(all)</option>
            <option>AIMS</option>
            <option>Consolidated</option>
            <option>Environmental</option>
            <option>Logistics</option>
            <option>Language Services</option>
            <option>MOBIS</option>
            <option>PES</option>
          </select>
        </div>

        <!--
        <div class="filter">
          <label for="fiscal_year">Fiscal Year:</label>
          <select id="fiscal_year" name="fiscal_year">
          </select>
        </div>
        -->

      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.filters  -->

  <section class="results">
    <div class="container">
      <div class="row">
        <p id="description" class="nine columns">
          Showing <span data-key="count">0</span> of
          <span id="results-count" class="total" data-key="total">0</span>
          <span data-key="results">results</span>
          <span class="filters">
            <span class="not-empty">with</span>
          </span>
        </p>
        <div id="results-actions" class="three columns">
          <a id="export-data" class="button button-primary"
            title="Click to export your search results to an Excel file (CSV)" href="/api/rates/csv/">⬇ Export Data (CSV)</a>
        </div>
      </div>

      <h4>Hourly Rate Data</h4>

      <div class="graph">
        <svg id="price-histogram" class="graph histogram has-data" aria-description="A histogram showing the distribution of labor category prices.  Each bar represents a range within that distribution">
        </svg>
      </div>

      <div class="loading-indicator">
        <p class="message">Loading results...</p>
        <div class="error-message"></div>
      </div>

      <table id="results-table" class="results has-data">
        <thead>
          <tr>
            <th scope="col" class="exclude" data-key="exclude" data-format=""><a id="restore-excluded" class="restore merge-params" href="?exclude="></a></th>
            <th scope="col" class="sortable" data-key="labor_category">Labor Category</th>
            <th scope="col" class="sortable" data-key="education_level" title="Minimum years of education">Min&nbsp;Edu.</th>
            <th scope="col" class="sortable" data-key="min_years_experience" title="Minimum years of experience">Experience</th>
            <th scope="col" class="sortable" data-key="current_price" data-format="$%,.02f">Price</th>
            <th scope="col" data-key="idv_piid">Contract #</th>
            <th scope="col" data-key="vendor_name">Vendor</th>
            <th scope="col" class="sortable collapsible" data-key="schedule">Schedule</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="8">
              <a href="#results-table">Return to the top</a>
            </td>
        </tfoot>
      </table>

    </div><!-- /.container -->
  </section><!-- /.graphs -->

</form>

<![if gt IE 8]>
<script src="{% static 'hourglass_site/js/vendor/jquery.auto-complete.min.js' %}"></script>
<script src="{% static 'hourglass_site/js/index.js' %}"></script>
<![endif]>

{% endblock %}
