{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<script src="{% static 'hourglass_site/js/vendor/jquery.auto-complete.min.js' %}"></script>
{% endblock %}

{% block body %}
<style scoped>

  thead th {
    vertical-align: bottom;
  }

  * h5 {
    margin: 0 !important;
  }

  .container {
    margin-top: 2rem;
  }

  #search {
    position: relative;
  }

  input.price {
    width: 4em;
  }

  .filters {
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 4px;
  }

  .graphs {
    padding: 1rem 0;
  }

  .filters .filter {
    width: 50%;
    float: left;
  }

  th.column-labor_category {        width: 25%; }
  th.column-education_level {       width: 10%; }
  th.column-min_years_experience {  width: 10%; }
  th.column-wage {                  width:  8%; }
  th.column-idv_piid {              width: 12%; }
  th.column-vendor_name {           width: 35%; }

  td.column-idv_piid {
    white-space: nowrap;
  }

  #export-data {
    position: absolute;
    right: 0;
  }

</style>
<div class="container">
  <h1>Hourglass</h1>
  <form id="search" class="search" role="form">
    <div id="primary" class="row">
      <div class="six columns">
        <input id="labor_category" name="q" placeholder="Type a labor category" class="search u-full-width" type="text">
      </div>
      <div class="six columns">
        <button id="submit" class="submit button-primary">Search</button>
      </div>
    </div>

    <!-- <h2>Filters</h2> -->

    <div class="config row">
      <div class="filters six columns">
        <h5>Filters</h5>
        <div class="filter">
          <label for="price">Price:</label>
          from <input id="price__gt" name="price__gt" type="number" class="price" min="0" max="1000" step=".01" placeholder="">
          to <input id="price__lt" name="price__lt" type="number" class="price" min="0" max="1000" step=".01" placeholder="">
        </div>

        <div class="filter">
          <label for="site">Worksite:</label>
          <select id="site" name="site">
            <option value="">(all)</option>
            <option>customer</option>
            <option>contractor</option>
            <option>both</option>
          </select>
        </div>

        <!--
        <div class="filter">
          <label for="schedule">Schedule:</label>
          <select id="schedule" name="schedule">
            <option value="">(all)</option>
            <option>Environmental</option>
            <option>AIMS</option>
            <option>Logistics</option>
            <option>Language Services</option>
            <option>PES</option>
            <option>MOBIS</option>
            <option>Consolidated</option>
          </select>
        </div>
        -->

        <div class="filter">
          <label for="min_education">Min. Education Level:</label>
          <select id="min_education" name="min_education">
            <option value="">(none)</option>
            <option value="HS">High School</option>
            <option value="AA">Associates</option>
            <option value="BA">Bachelors Degree</option>
            <option value="MA">Masters Degree</option>
            <option value="PHD">Ph.D</option>
          </select>
        </div>

        <div class="filter">
          <label for="min_experience">Min. Experience:</label>
          <input id="min_experience" name="min_experience" type="number" min="0" max="50" step="1" placeholder="0">
          years
        </div>

        <div class="filter">
          <label for="business_size">Business Size:</label>
          <select id="business_size" name="business_size">
            <option value="">(all)</option>
            <option value="s">Small Business</option>
            <option value="o">Other than Small</option>
          </select>
        </div>

        <!--
        <div class="filter">
          <label for="fiscal_year">Fiscal Year:</label>
          <select id="fiscal_year" name="fiscal_year">
          </select>
        </div>
        -->

      </div><!-- /.filters  -->

      <div class="graphs six columns">
        <h5>Price Stats</h5>

        <div class="loading-indicator">
          <p class="message">Loading results...</p>
          <div class="error"></div>
        </div>

        <div class="graph">

          <svg id="price-histogram" class="histogram has-data">
          </svg>

          <!--
          <div id="price-range" class="range-graph has-data">
            <span class="tick min left">
              $<b class="value"></b><br>low
            </span>
            <span class="tick max right">
              $<b class="value"></b><br>high
            </span>
            <span class="tick average mark" style="left: 0%">
              average<br>
              $<b class="value"></b>
            </span>
          </div>
          -->

        </div>

        <!--
        <div class="graph">
          <div id="hourly-wages" class="bar-chart">
          </div>
        </div>
        -->

      </div><!-- /.graphs -->

    </div><!-- /.row -->

    <table id="results-table" class="results has-data">
      <caption>
        <span id="results-total">...</span> matching row(s), showing <span id="results-count">...</span>
        <a id="export-data" class="button" href="/api/rates/csv/">Export Data</a>
      </caption>
      <thead>
        <tr>
          <th class="sortable" data-key="labor_category">Labor Category</th>
          <th class="sortable" data-key="education_level">Minimum Education</th>
          <th class="sortable" data-key="min_years_experience">Minimum Experience</th>
          <th class="sortable" data-key="current_price" data-format="$%,.02f">Price</th>
          <th data-key="idv_piid">Contract #</th>
          <th data-key="vendor_name">Vendor</th>
          <th class="sortable collapsible" data-key="schedule">Schedule</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

    <input type="hidden" name="sort" value="current_price">

  </form>

</div>
<script src="{% static 'hourglass_site/js/index.js' %}"></script>

{% endblock %}
